.history__container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.history__heading {
  margin-bottom: 43px;
  font-family: "Georgia";
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 41px;
  color: #000000;
  text-align: center;
}

.history__list {
  display: flex;
  justify-content: space-between;
  background-image: url("../img/svg/dotted-line.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.history__list-btn {
  width: 54px;
  height: 54px;
  border-radius: 12px;
  font-family: "Cera Pro";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  color: #000000;
  background: #efefef;
  transition: all .3s ease;
}

.history__list-btn.active {
  border: 1px solid #0082e0;
  color: #0082e0;
  background: #ffffff;
}

.history__list-btn:hover {
  border: 1px solid #0082e0;
  color: #0082e0;
  background: #ffffff;
}

.history__image {
  border-radius: 20px;
}

.history__tabs-wrap {
  display: none;
}

.history__tabs-wrap.active {
  display: flex;
  justify-content: center;
  animation-name: fade-in;
  animation-duration: .7s;
}

.history__text-wrap {
  display: flex;
  flex-direction: column;
  max-width: 579px;
}

.history__tabs-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  gap: 30px;
}

.history__tab-heading {
  margin-bottom: 30px;
  font-family: "Georgia";
  font-size: 71px;
  font-weight: 700;
  font-style: normal;
  line-height: 100%;
  color: #000000;
}

.history__tab-text {
  margin-bottom: 37px;
  font-family: "Cera Pro";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  color: #000000;
}

.history__more-wrap {
  display: flex;
  align-items: center;
}

.history__more {
  margin-right: 6px;
  font-family: "Cera Pro";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  color: #000000;
}

.history__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #0082e0;
  transition: all .3s ease;;
}

.history__arrow:hover {
  background: #579acb;
}

.history__slider-btn {
  display: none;
}

@media (max-width: 1024px) {
  .history__heading {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .history__text-wrap {
    max-width: 450px;
  }
}

@media (max-width: 768px) {
  .history__heading {
    font-size: 28px;
  }

  .history__image {
    display: none;
  }

  .history__tab-heading {
    margin-right: auto;
    margin-left: auto;
    font-size: 50px;
  }

  .history__tabs-content {
    gap: 0;
  }

  .history__text-wrap {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .history__tab-text {
    margin-bottom: 30px;
  }

  .hidden-btn {
    display: none;
  }

  .history__slider-btn {
    display: flex;
  }

  .history__list-wrap {
    display: flex;
    align-items: center;
  }

  .history__list {
    width: 100%;
    margin-right: 30px;
  }
}

@media (max-width: 480px) {
  .history__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .history__heading {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .history__tab-heading {
    margin-bottom: 20px;
  }

  .history__tab-text {
    margin-bottom: 20px;
  }

  .history__tabs-content {
    margin-bottom: 0;
  }

  .history__list {
    margin-right: 34px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
